# Configuration serveur
PORT=8080
STREAMING_PORT=3000

# Configuration réseau
SERVICE_NAME=ShareMusic
MDNS_TYPE=sharemusic

# Configuration élection
PING_INTERVAL=5000
ELECTION_TIMEOUT=3000
HEARTBEAT_TIMEOUT=15000

# Logging
LOG_LEVEL=info

# Chemins
MUSIC_DIR=./music
DTD_PATH=./dtd/sharemusic.dtd

# Utilisateur
USER_NAME=DefaultUser
